<div class="main-container">
    <mat-card>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Customer Success">
                <app-analytics-table></app-analytics-table>
            </mat-tab>
            <mat-tab label="Sales">
                <app-analytics-table></app-analytics-table>
            </mat-tab>
            <mat-tab label="Finance">
                <app-analytics-table></app-analytics-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>